# all the temp/output files that xise creates
*.bld
*.cmd_log
*.gyd
*.lso
*.mfd
*.ng[acdr]
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.tspec
*.vm6
*.xml
*.xst
*.html
*.xrpt
*.csv
*.err
*.lfp
*.spl
*.sym
Fake6523_html/*
Fake1551Paddle_html/*
_ngo/*
_xmsgs/*
iseconfig/*
xst/*
xlnx_auto_0_xdb/*
