
# Fake6523A-28

NET "_cs"			LOC = "P34"  ;	# PLA output F0
NET "_reset"		LOC = "P64"  ; # /RESET exp.
NET "_write"		LOC = "P62"  ; # R/W exp.
NET "data<0>"		LOC = "P32"  ; # D0 exp.
NET "data<1>"		LOC = "P31"  ; # D1 exp.
NET "data<2>"		LOC = "P27"  ; # D2
NET "data<3>"		LOC = "P25"  ; # D3
NET "data<4>"		LOC = "P24"  ; # D4
NET "data<5>"		LOC = "P23"  ; # D5
NET "data<6>"		LOC = "P22"  ; # D6
NET "data<7>"		LOC = "P20"  ; # D7
NET "port_a<0>"	LOC = "P59"  ; # DIO1
NET "port_a<1>"	LOC = "P58"  ; # DIO2
NET "port_a<2>"	LOC = "P57"  ; # DIO3
NET "port_a<3>"	LOC = "P56"  ; # DIO4
NET "port_a<4>"	LOC = "P52"  ; # DIO5
NET "port_a<5>"	LOC = "P51"  ; # DIO6
NET "port_a<6>"	LOC = "P50"  ; # DIO7
NET "port_a<7>"	LOC = "P49"  ; # DIO8
NET "port_b<0>"	LOC = "P47"  ; # STATUS0
NET "port_b<1>"	LOC = "P45"  ; # STATUS1
NET "port_c<6>"  LOC = "P46"  ; # ACK
NET "port_c<7>"  LOC = "P48"  ; # DAV
NET "rs<0>"  LOC = "P18"  ; # A0
NET "rs<1>"  LOC = "P17"  ; # A1
NET "rs<2>"  LOC = "P16"  ; # A2
